scalaVersion := "${scalaMajor}.${scalaMinor}"

name := "${name}"
organization := "${organization}"
version := "${version}"

libraryDependencies ++= Seq(
   "org.scalatestplus" %% "scalacheck-1-17" % "3.2.15.0" % "test"
)